{% extends 'base.html.twig' %}

{% block title 'title.site_settings'|trans %}
{% block sidebar ' ' %}
{% block site_nav_active 'admin' %}
{% block site_nav_main_menu_active 'site_settings' %}

{% form_theme form '_forms/aligned_form_theme.html.twig' %}
{% block body %}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ form_start(form) }}
    <fieldset class="fieldset">
      <legend>{{ 'label.general'|trans }}</legend>

      {{ form_row(form.siteName) }}

      {{ form_row(form.wikiEnabled) }}
    </fieldset>

    <fieldset class="fieldset">
      <legend>{{ 'label.permissions'|trans }}</legend>

      {{ form_row(form.forumCreateRole) }}

      {{ form_row(form.imageUploadRole) }}

      {{ form_row(form.wikiEditRole) }}
    </fieldset>

    {{ form_rest(form) }}

    <div class="form__row form__button-row">
      <button class="button">{{ 'action.save'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock body %}
