{% extends 'base.html.twig' %}

{% block site_nav_active 'places' %}
{% block site_nav_main_menu_active 'admin' %}
{% block site_nav_admin_menu_active 'bans' %}
{% block title 'ban_add.title'|trans %}

{% block body %}
  {{ include('ban/_tabs.html.twig', {page: 'ip_bans'}, with_context=false) }}
  <h1 class="page-heading">{{ block('title') }}</h1>

  {{ form(form) }}
{% endblock %}

