{{ form_start(form) }}
  {{ form_row(form.username) }}

  {{ form_row(form.password) }}

  {{ form_row(form.email) }}

  {% if form.verification is defined %}
    {% if app.request.method == 'POST' and not app.request.hasPreviousSession %}
      {% embed '_layouts/alert.html.twig' with { type: 'error' } %}
        {% block alert_classes 'form__row' %}
        {% block alert_paragraph 'flash.no_cookies_verification'|trans %}
      {% endembed %}
    {% endif %}

    {{ form_row(form.verification) }}
  {% endif %}

  {{ form_row(form.submit) }}
{{ form_end(form) }}
