{% extends 'forum/base.html.twig' %}

{% block title 'title.delete_forum'|trans({'%forum%': '/f/%s'|format(forum.name)}) %}

{% block body %}
  <h1 class="page-heading">
    {{- 'title.delete_forum'|trans({'%forum%': '<a href="%s">/f/%s</a>'|format(
      path('forum', {forum_name: forum.name})|escape,
      forum.name|escape
      )})|raw
    -}}
  </h1>

  {% embed '_layouts/alert.html.twig' with { type: 'warn' } %}
    {% block alert_paragraph 'help.delete_forum_warning'|trans %}
  {% endembed %}

  {{ form_start(form) }}
    {{ form_row(form.name, { label: 'label.confirm_forum_name'|trans }) }}

    {{ form_row(form.confirm, { label: 'label.delete_forum_confirmation'|trans }) }}

    <div class="form__row form__button-row">
      <button class="button">{{ 'action.delete_forum'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
